.mt-4
  .container
    .card
      .card-block
        .row
          .col-lg-9
            = render 'routes/partials/information'
          .col-lg-3
            = render 'routes/partials/map'
            = render 'routes/partials/buy_tickets'
    .mt-2
      .arrow-left
        %i.fa.fa-arrow-left{"aria-hidden" => "true"}
          = link_to 'Назад', root_path
